@import "../../sass/fonts";

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  cursor: auto;
  transition: 0.2s;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  border-radius: 10px;
  box-shadow: rgba(#fff, 0.15) 0px 0px 100px 21px;

  &-title {
    font-family: $neon2;
    font-size: 7.2rem;
    font-weight: 400;
    color: #36bf36;
    text-shadow: 3px 3px 6px #000000;

    &.success {
      letter-spacing: 5px;
    }
  }

  &-btn-scoreboard {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    background: linear-gradient(0deg, rgb(255, 145, 0), #ffd88f);
    border-radius: 4px;

    &:hover {
      background: linear-gradient(180deg, rgb(255, 145, 0), #ffd88f);
    }
  }

  &-btn-start-again {
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(0deg, green, #a5ff8f);
    border-radius: 4px;

    &:hover {
      background: linear-gradient(180deg, green, #60a150);
    }
  }
}
